@tailwind base;
@tailwind components;
@tailwind utilities;

.service-card:nth-child(2n) > div{
  display: none;
}

.card-hover:hover{
  border: 1px solid #0286EF;
  box-shadow: 0px 0px 10px 0px #0286EF;
}
.card-hover{
  border: 1px solid transparent;
  box-shadow: 0px 0px 10px 0px transparent;
  transition: box-shadow .3s  ,border .3s ;
}

#circle-text span{
  position: absolute;
  left: 50%;
  font-size: 1.2em;
  transform-origin: 0 180px;
}

