@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-family: 'Montserrat', sans-serif;
}
.service-card:nth-child(2n) > div {
  display: none;
}

.card-hover:hover {
  border: 1px solid #0286ef;
  box-shadow: 0px 0px 10px 0px #0286ef;
}
.card-hover {
  border: 1px solid transparent;
  box-shadow: 0px 0px 10px 0px transparent;
  transition: box-shadow 0.3s, border 0.3s;
}

#circle-text span {
  position: absolute;
  left: 50%;
  font-size: 1.2em;
  transform-origin: 0 180px;
}
.wow:first-child {
  visibility: hidden;
}

